In [1]:
from inventory.models import (
    Brand,
    Category,
    Product,
    Order
)

In [2]:
Product.objects.all()

<QuerySet [<Product: Men Relaxed Fit Mid Rise Blue Jeans>, <Product: Motorola Edge 50 Fusion (Marshmallow Blue, 256 GB)  (12 GB RAM)>, <Product: SAMSUNG 8 kg 5 star, Ecobubble, Digital Inverter, Fully Automatic Top Load Washing Machine Grey>]>

In [3]:
from django.db.models import (
    Count,
    F,
    Sum,
    OuterRef,
    Value,
    IntegerField,
    Prefetch,
    Q,
    ExpressionWrapper,
    functions,
    CharField,
    Case,
    When,
    Func
)

In [24]:
get_product_with_total_price = Order.objects.all().annotate(total_price = Product.objects.filter(uuid = OuterRef("product__uuid")).values("price"),
                                                           created_at = Func(
    F('created_at'),
    Value('DD-MM-YYYY HH:MM:SS'),
    function='to_char',
    output_field=CharField()
  )).annotate(total_price = F("quantity") * F("total_price"))

NameError: name 'Func' is not defined

In [20]:
get_product_with_total_price

<QuerySet [<Order: Men Relaxed Fit Mid Rise Blue Jeans>, <Order: Motorola Edge 50 Fusion (Marshmallow Blue, 256 GB)  (12 GB RAM)>, <Order: SAMSUNG 8 kg 5 star, Ecobubble, Digital Inverter, Fully Automatic Top Load Washing Machine Grey>]>

In [21]:
from django_pandas.io import read_frame

In [22]:
df = read_frame(get_product_with_total_price)

In [23]:
df

,uuid,created_at,updated_at,customer,product,quantity,total_price
0,e0d52cd0-e5e8-446b-a9a5-03184371052e,2024-07-03 09:12:30.158598+00:00,2024-07-03 09:14:04.341337+00:00,Mayank,Men Relaxed Fit Mid Rise Blue Jeans,2,998.0
1,0a85a725-af8a-40e2-b05e-014495c73a08,2024-07-03 09:54:18.013494+00:00,2024-07-03 09:56:14.782451+00:00,Mayank,"Motorola Edge 50 Fusion (Marshmallow Blue, 256...",1,24999.0
2,b886f58b-8785-43d5-a106-44d85a34f7f2,2024-07-03 09:54:29.361246+00:00,2024-07-03 09:54:29.361315+00:00,Deqode,"SAMSUNG 8 kg 5 star, Ecobubble, Digital Invert...",3,58470.0